USE [master]
GO
/****** Objeto:  Database [SIGEC]    Data do Script: 06/09/2026 19:16:51 ******/
CREATE DATABASE [SIGEC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SIGEC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SIGEC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SIGEC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SIGEC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SIGEC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SIGEC]
GO
/****** Objeto:  Table [dbo].[beneficio]    Data do Script: 06/09/2026 19:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[beneficio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](100) NOT NULL,
	[sigla] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[entrevista]    Data do Script: 06/09/2026 19:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entrevista](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido_exame] [int] NOT NULL,
	[id_profissional] [int] NULL,
	[data_agendamento] [date] NULL,
	[id_usuario] [int] NOT NULL,
	[data_entrega_laudo] [date] NULL,
	[data_cadastro] [date] NOT NULL,
	[data_realizacao] [date] NULL,
	[tipo_atendimento] [varchar](30) NOT NULL,
	[status] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[pedido_beneficio]    Data do Script: 06/09/2026 19:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido_beneficio](
	[id_beneficio] [int] NOT NULL,
	[id_pedido_exame] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_beneficio] ASC,
	[id_pedido_exame] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[pedido_exame]    Data do Script: 06/09/2026 19:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido_exame](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_sentenciado] [int] NOT NULL,
	[data_cadastro] [date] NOT NULL,
	[data_solicitacao] [date] NOT NULL,
	[status] [varchar](30) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[numero_processo] [varchar](100) NULL,
	[numero_sei] [varchar](100) NULL,
	[data_conclusao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[profissional]    Data do Script: 06/09/2026 19:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profissional](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[tipo] [varchar](30) NOT NULL,
	[ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[reiteracao]    Data do Script: 06/09/2026 19:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reiteracao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido_exame] [int] NOT NULL,
	[data_reiteracao] [date] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[observacoes] [varchar](200) NULL,
	[despacho] [varchar](100) NULL,
	[data_cadastro] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[sentenciado]    Data do Script: 06/09/2026 19:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sentenciado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[matricula] [varchar](8) NOT NULL,
	[nome] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[usuario]    Data do Script: 06/09/2026 19:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[login] [varchar](100) NOT NULL,
	[senha] [varchar](255) NOT NULL,
	[ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[beneficio] ON 

INSERT [dbo].[beneficio] ([id], [descricao], [sigla]) VALUES (1, N'Regime Semi Aberto', N'SA')
INSERT [dbo].[beneficio] ([id], [descricao], [sigla]) VALUES (4, N'Progressão de Regime', N'PR')
INSERT [dbo].[beneficio] ([id], [descricao], [sigla]) VALUES (5, N'Livramento Condicional', N'LC')
SET IDENTITY_INSERT [dbo].[beneficio] OFF
GO
SET IDENTITY_INSERT [dbo].[entrevista] ON 

INSERT [dbo].[entrevista] ([id], [id_pedido_exame], [id_profissional], [data_agendamento], [id_usuario], [data_entrega_laudo], [data_cadastro], [data_realizacao], [tipo_atendimento], [status]) VALUES (1, 3, 1, CAST(N'2026-07-30' AS Date), 1, CAST(N'2026-07-30' AS Date), CAST(N'2026-07-30' AS Date), CAST(N'2026-07-30' AS Date), N'PSICOLOGO', N'REALIZADA')
INSERT [dbo].[entrevista] ([id], [id_pedido_exame], [id_profissional], [data_agendamento], [id_usuario], [data_entrega_laudo], [data_cadastro], [data_realizacao], [tipo_atendimento], [status]) VALUES (2, 20, 10, CAST(N'2026-07-10' AS Date), 5, CAST(N'2026-07-12' AS Date), CAST(N'2026-07-10' AS Date), CAST(N'2026-07-10' AS Date), N'PSICOLOGO', N'REALIZADA')
INSERT [dbo].[entrevista] ([id], [id_pedido_exame], [id_profissional], [data_agendamento], [id_usuario], [data_entrega_laudo], [data_cadastro], [data_realizacao], [tipo_atendimento], [status]) VALUES (3, 21, 13, CAST(N'2026-07-12' AS Date), 6, NULL, CAST(N'2026-07-12' AS Date), CAST(N'2026-07-12' AS Date), N'ASSISTENTE_SOCIAL', N'REALIZADA')
SET IDENTITY_INSERT [dbo].[entrevista] OFF
GO
INSERT [dbo].[pedido_beneficio] ([id_beneficio], [id_pedido_exame]) VALUES (1, 3)
INSERT [dbo].[pedido_beneficio] ([id_beneficio], [id_pedido_exame]) VALUES (1, 4)
INSERT [dbo].[pedido_beneficio] ([id_beneficio], [id_pedido_exame]) VALUES (1, 5)
GO
SET IDENTITY_INSERT [dbo].[pedido_exame] ON 

INSERT [dbo].[pedido_exame] ([id], [id_sentenciado], [data_cadastro], [data_solicitacao], [status], [id_usuario], [numero_processo], [numero_sei], [data_conclusao]) VALUES (3, 2, CAST(N'2026-07-29' AS Date), CAST(N'2026-07-10' AS Date), N'CONCLUIDO', 1, N'987.654.321/01', N'00020/2026', CAST(N'2026-08-02' AS Date))
INSERT [dbo].[pedido_exame] ([id], [id_sentenciado], [data_cadastro], [data_solicitacao], [status], [id_usuario], [numero_processo], [numero_sei], [data_conclusao]) VALUES (4, 3, CAST(N'2026-08-02' AS Date), CAST(N'2026-07-29' AS Date), N'CONCLUIDO', 1, N'', N'00500', CAST(N'2026-08-02' AS Date))
INSERT [dbo].[pedido_exame] ([id], [id_sentenciado], [data_cadastro], [data_solicitacao], [status], [id_usuario], [numero_processo], [numero_sei], [data_conclusao]) VALUES (5, 3, CAST(N'2026-08-03' AS Date), CAST(N'2026-08-02' AS Date), N'CADASTRADO', 1, N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[pedido_exame] OFF
GO
SET IDENTITY_INSERT [dbo].[profissional] ON 

INSERT [dbo].[profissional] ([id], [nome], [tipo], [ativo]) VALUES (1, N'Marcelo de Paula', N'PSICOLOGO', 1)
INSERT [dbo].[profissional] ([id], [nome], [tipo], [ativo]) VALUES (3, N'Carlos Silva', N'PSICOLOGO', 1)
INSERT [dbo].[profissional] ([id], [nome], [tipo], [ativo]) VALUES (4, N'Ana Paula Ribeiro', N'PSICOLOGO', 1)
SET IDENTITY_INSERT [dbo].[profissional] OFF
GO
SET IDENTITY_INSERT [dbo].[reiteracao] ON 

INSERT [dbo].[reiteracao] ([id], [id_pedido_exame], [data_reiteracao], [id_usuario], [observacoes], [despacho], [data_cadastro]) VALUES (2, 3, CAST(N'2026-07-20' AS Date), 1, N'Observação alterada', N'Despacho alterado', CAST(N'2026-07-30' AS Date))
INSERT [dbo].[reiteracao] ([id], [id_pedido_exame], [data_reiteracao], [id_usuario], [observacoes], [despacho], [data_cadastro]) VALUES (4, 4, CAST(N'2026-08-02' AS Date), 1, N'Reiteração realizada pelo Doutor Atis.', N'', CAST(N'2026-08-02' AS Date))
INSERT [dbo].[reiteracao] ([id], [id_pedido_exame], [data_reiteracao], [id_usuario], [observacoes], [despacho], [data_cadastro]) VALUES (5, 5, CAST(N'2026-08-03' AS Date), 1, N'', N'', CAST(N'2026-08-03' AS Date))
SET IDENTITY_INSERT [dbo].[reiteracao] OFF
GO
SET IDENTITY_INSERT [dbo].[sentenciado] ON 

INSERT [dbo].[sentenciado] ([id], [matricula], [nome]) VALUES (2, N'1234567', N'Jose da Silva')
INSERT [dbo].[sentenciado] ([id], [matricula], [nome]) VALUES (3, N'123456', N'João da Silva')
INSERT [dbo].[sentenciado] ([id], [matricula], [nome]) VALUES (4, N'105234', N'João Carlos Almeida')
SET IDENTITY_INSERT [dbo].[sentenciado] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [nome], [login], [senha], [ativo]) VALUES (1, N'Lindomar Andrade Silva', N'lindomar', N'$2a$10$9Dq6iS8Y4ifE5XrYRAkBA.q8AWLyVHCC9P.x3I7i2BmGKRrnVR67S', 1)
INSERT [dbo].[usuario] ([id], [nome], [login], [senha], [ativo]) VALUES (3, N'Teste', N'admin', N'$2a$10$TtJBELxkuWPpCsru7QR00.yCujx7TzS/tWeFESwhK7cblDstB1P3C', 0)
INSERT [dbo].[usuario] ([id], [nome], [login], [senha], [ativo]) VALUES (4, N'Mariana Silva', N'mariana.silva', N'$2a$10$5YUl2X8I.d/SsbE7S59.6uidQ18xBok54NMufH3lkZBL6ZRZVqzLu', 1)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [UQ__benefici__91D38C28EF95BACF]    Data do Script: 06/09/2026 19:16:52 ******/
ALTER TABLE [dbo].[beneficio] ADD UNIQUE NONCLUSTERED 
(
	[descricao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [UQ_SENTENCIADO_MATRICULA]    Data do Script: 06/09/2026 19:16:52 ******/
ALTER TABLE [dbo].[sentenciado] ADD  CONSTRAINT [UQ_SENTENCIADO_MATRICULA] UNIQUE NONCLUSTERED 
(
	[matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [UQ__usuario__7838F2720F78D0B9]    Data do Script: 06/09/2026 19:16:52 ******/
ALTER TABLE [dbo].[usuario] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[entrevista]  WITH CHECK ADD FOREIGN KEY([id_pedido_exame])
REFERENCES [dbo].[pedido_exame] ([id])
GO
ALTER TABLE [dbo].[entrevista]  WITH CHECK ADD FOREIGN KEY([id_profissional])
REFERENCES [dbo].[profissional] ([id])
GO
ALTER TABLE [dbo].[entrevista]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[pedido_beneficio]  WITH CHECK ADD FOREIGN KEY([id_beneficio])
REFERENCES [dbo].[beneficio] ([id])
GO
ALTER TABLE [dbo].[pedido_beneficio]  WITH CHECK ADD FOREIGN KEY([id_pedido_exame])
REFERENCES [dbo].[pedido_exame] ([id])
GO
ALTER TABLE [dbo].[pedido_exame]  WITH CHECK ADD FOREIGN KEY([id_sentenciado])
REFERENCES [dbo].[sentenciado] ([id])
GO
ALTER TABLE [dbo].[pedido_exame]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[reiteracao]  WITH CHECK ADD FOREIGN KEY([id_pedido_exame])
REFERENCES [dbo].[pedido_exame] ([id])
GO
ALTER TABLE [dbo].[reiteracao]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[entrevista]  WITH CHECK ADD  CONSTRAINT [CK_entrevista_status] CHECK  (([status]='CANCELADA' OR [status]='REALIZADA' OR [status]='AGENDADA' OR [status]='PENDENTE_AGENDAMENTO'))
GO
ALTER TABLE [dbo].[entrevista] CHECK CONSTRAINT [CK_entrevista_status]
GO
ALTER TABLE [dbo].[entrevista]  WITH CHECK ADD  CONSTRAINT [CK_entrevista_tipo_atendimento] CHECK  (([tipo_atendimento]='ASSISTENTE_SOCIAL' OR [tipo_atendimento]='PSICOLOGO'))
GO
ALTER TABLE [dbo].[entrevista] CHECK CONSTRAINT [CK_entrevista_tipo_atendimento]
GO
USE [master]
GO
